extends layout
block append head
    script(src='javascripts/addbook.js' defer)
    script(src="../bower_components/bootstrap/js/tooltip.js")
    script(src="../bower_components/bootstrap/js/popover.js")
    script(src="../bower_components/bootstrap-validator/dist/validator.min.js")
    link(rel='stylesheet', href='/stylesheets/addbook.css')
block content
    div.container
        div.row
            div.col-xs-3
            div.col-xs-6
                form#data(role="form")
                    fieldset
                        legend Добавь свою любимую книгу
                        div.form-group
                            input.form-control(
                            name='bookname'
                            type='text'
                            placeholder='Название'
                            data-error="поле неправильно заполнено"
                            pattern='[a-zA-Zа-яА-ЯёЁ0-9-_., ]{1,50}'
                            required
                            )
                            div.help-block.with-errors
                        div.form-group
                            input.form-control(
                            name='author'
                            type='text'
                            placeholder='Автор'
                            data-error="поле неправильно заполнено"
                            pattern='[a-zA-Zа-яА-ЯёЁ0-9-_., ]{1,50}'
                            required
                            )
                            div.help-block.with-errors
                        div.form-group
                            input.form-control(
                            name='genre'
                            type='text'
                            placeholder='Жанр'
                            data-error="поле неправильно заполнено"
                            pattern='[a-zA-Zа-яА-ЯёЁ0-9-_., ]{1,50}'
                            required
                            )
                            div.help-block.with-errors
                        div.form-group
                            input.form-control(
                            name='year'
                            type='numbers'
                            title='4 цифры'
                            placeholder='Год издания'
                            data-error="поле неправильно заполнено"
                            pattern='[0-9]{4}'
                            )
                            div.help-block.with-errors
                        div.form-group
                            textarea.form-control(
                            rows=9
                            cols=40
                            name="text"
                            data-error="поле неправильно заполнено"
                            placeholder='Описание книги'
                            required
                            )
                            div.help-block.with-errors
                        div.form-group
                            label.upload-label(for='upload-image')  Загрузить обложку
                            input#upload-image.form-control(name='bookimage' type='file' accept="image/jpeg,image/png")
                            p.help-block Картинки формата jpeg или png
                        a#send.btn.btn-default(
                        role="button"
                        tabindex="0"
                        data-toggle="popover"
                        data-trigger="manual"
                        data-placement="top"
                        type="button"
                        data-content=" "
                        ) Отправить
            div.col-xs-3