extends layout
block append head
    link(rel='stylesheet', href='/stylesheets/book.css')
    script(src='../javascripts/book.js' defer)
block content
    div.container
        div.row
            div.col-xs-2
            div.col-xs-8
                div.row
                    div.col-xs-3.align-block
                        img.img-responsive(src="../#{book.bookimage}")
                        if (user)
                            if (bookAdded)
                                input.btn.btn-success.top-margin#removeFromPolka(
                                type="button"
                                value="Стоит на полке"
                                )
                            else
                                input.btn.btn-default.top-margin#addToPolka(
                                type="button"
                                value="Добавить на полку"
                                )
                        else
                            a.btn.btn-default.top-margin(href="/login" role="button") Добавить на полку
                        p.bookid(hidden="hidden") #{book.id}
                    div.col-xs-9
                        div.row
                            if (user)
                                if (user.admin)
                                    div.col-xs-9
                                        h3.bookname.underline #{book.bookname}
                                    div.col-xs-3
                                        a.text-muted(href='/edit_book/:#{book.id}') редактировать
                                else
                                    h3.bookname.underline #{book.bookname}
                            else
                                h3.bookname.underline #{book.bookname}
                        p Автор: #{book.author}
                        p Жанр: #{book.genre}
                        p Год издания #{book.year}г.
                div.row
                    div.col-xs-12.description
                        h3.underline Описание
                        p #{book.text}
                div.row
                    div.col-xs-12

            div.col-xs-2
