extends layout

block content
    div.main-content
        span.main-content-title
            h1 Добро пожаловать на Polka.ru!
            div.book-line
                div.book-line-title
                    h2
                        a(href='/new-books') Новинки
                each img, i in docs
                    if (i < 5)
                        span
                            a(href='/#{img.name}')
                                img.book(src='../#{img.src}')
                            p
                                a.book-label(href='/#{img.name}') #{img.name}

            div.book-line
                div.book-line-title
                    h2
                        a(href='/popular-books') Популярное
                each img, i in docs
                    if (i > 4)
                        span
                            a(href='/#{img.name}')
                                img.book(src='../#{img.src}')
                            p
                                a.book-label(href='/#{img.name}') #{img.name}
