extends layout
block append head
    script(src='../javascripts/birthdate.js')
block content
    div.container
        div.row
            div.col-xs-2
            div.col-xs-8.main
                div.row
                    div.col-xs-3
                        if (user.icon)
                            img.img-responsive.img-circle.user-icon(src="#{user.icon}")
                        else
                            img.img-responsive.img-circle(src="/images/user-default.png")
                    div.col-xs-9
                        div.row
                            div.col-xs-9
                                h4.text-capitalize.name #{user.username}
                                p.userid(hidden="hidden") #{user.id}
                            div.col-xs-3
                                a.text-muted(href='/edit_profile') редактировать
                        div.row
                            div.col-xs-12
                                p #{user.lastname} #{user.firstname}
                                p=user.patronymic
                                p.text-primary Дата рождения
                                if (user.birthdate)
                                 p.birthdate=user.birthdate
                                p.text-primary Страна
                                p=user.country
                                p.text-primary Интересы
                                p=user.interests
                                p=user.about
                                if (user.admin)
                                    p.text-primary Статус пользователя
                                    p Admin
                                    a.text-warning(href='/admin') Админская панель
                div.row.top-margin
                    div.col-xs-12
                        h2.name Полка книг
                        if (polka)
                            each book in polka
                                div.col-xs-12.polka
                                    a(href='/book/:#{book.id}')
                                        img.img-responsive(src='../#{book.bookimage}' alt="#{book.bookname}")
                                    p
                                        a(href='/book/:#{book.id}') #{book.bookname}
                        else
                            div.col-xs-12.empty-block
                                p Нету книжек на полке
                div.row.top-margin
                    div.col-xs-12
                        h2.name Подписки
                        if (subscriptions)
                            each subscr in subscriptions
                                div.col-xs-12.subscriptions
                                    a(href='/user/:#{subscr.id}')
                                        if (subscr.icon)
                                            img.img-responsive.img-circle(src='../#{subscr.icon}' alt="#{subscr.username}")
                                        else
                                            img.img-responsive.img-circle(src="/images/user-default.png")
                                    p
                                        a(href='/user/:#{subscr.id}') #{subscr.username}
                        else
                            div.col-xs-12.empty-block
                                p Подписок нету
            div.col-xs-2

