extends layout
block append head
    script(src='../javascripts/birthdate.js')
    link(rel='stylesheet', href='/stylesheets/profile.css')
block content
    div.container
        div.row
            div.col-xs-2
            div.col-xs-8.main
                div.row
                    div.col-xs-4
                        if (user.icon)
                            img.img-responsive.img-circle(src="#{user.icon}")
                        else
                            img.img-responsive.img-circle(src="/images/user-default.png")
                    div.col-xs-8
                        div.row
                            div.col-xs-9
                                h4.text-capitalize.name #{user.username}
                            div.col-xs-3
                                a.text-muted(href='/edit_profile') редактировать
                        div.row
                            div.col-xs-12
                                p #{user.lastname} #{user.firstname}
                                p=user.patronymic
                                p.text-primary Дата рождения
                                if (user.birthdate)
                                 p.birthdate=user.birthdate
                                p.text-primary Страна
                                p=user.country
                                p.text-primary Интересы
                                p=user.interests
                                p=user.about
                                if (user.admin)
                                    p.text-primary Статус пользователя
                                    p Admin
                div.row.top-margin
                    div.col-xs-12
                        h2.name Полка книг
                        each book in polka
                            div.col-xs-12.polka
                                a(href='/book/:#{book.id}')
                                    img.img-responsive(src='../#{book.bookimage}' alt="#{book.bookname}")
                                p
                                    a(href='/book/:#{book.id}') #{book.bookname}
                div.row.top-margin
                    div.col-xs-12
                        h2.name Друзья
                        div.col-xs-12.polka
                            img.img-responsive.img-circle(src="/images/user-default.png")
                            p friend
                        div.col-xs-12.polka
                            img.img-responsive.img-circle(src="/images/user-default.png")
                            p friend
                        div.col-xs-12.polka
                            img.img-responsive.img-circle(src="/images/user-default.png")
                            p friend
            div.col-xs-2

