extends layout
block append head
    script(src='../javascripts/user.js')
block content
    div.container
        div.row
            div.col-xs-2
            div.col-xs-8.main
                div.row
                    div.col-xs-3.align-block
                        if (userInfo.icon)
                            img.img-responsive.img-circle.user-icon(src="../#{userInfo.icon}")
                        else
                            img.img-responsive.img-circle(src="..//images/user-default.png" style="display: inline;")
                        if (user)
                            if (subscribed)
                                input.btn.btn-success.top-margin#removeFromSubscriptions(
                                type="button"
                                value="Подписаны"
                                )
                            else
                                input.btn.btn-default.top-margin#addToSubscriptions(
                                type="button"
                                value="Подписаться"
                                )
                        else
                            a.btn.btn-default.top-margin(href="/login" role="button") Подписаться
                        p.userid(hidden="hidden") #{userInfo.id}
                    div.col-xs-9
                        div.row
                            h4.text-capitalize.name #{userInfo.username}
                        div.row
                            div.col-xs-12
                                p #{userInfo.lastname} #{userInfo.firstname}
                                p=userInfo.patronymic
                                p.text-primary Дата рождения
                                if (userInfo.birthdate)
                                    p.birthdate=userInfo.birthdate
                                p.text-primary Страна
                                p=userInfo.country
                                p.text-primary Интересы
                                p=userInfo.interests
                                p=userInfo.about
                div.row.top-margin
                    div.col-xs-12
                        h2.name Полка книг
                        if (polka)
                            each book in polka
                                div.col-xs-12.polka
                                    a(href='/book/:#{book.id}')
                                        img.img-responsive(src='../#{book.bookimage}' alt="#{book.bookname}")
                                    p
                                        a(href='/book/:#{book.id}') #{book.bookname}
                        else
                            div.col-xs-12.empty-block
                                p Нету книжек на полке
                div.row.top-margin
                    div.col-xs-12
                        h2.name Подписки
                        if (subscriptions)
                            each subscr in subscriptions
                                div.col-xs-12.subscriptions
                                    a(href='/user/:#{subscr.id}')
                                        if (subscr.icon)
                                            img.img-responsive(src='../#{subscr.icon}' alt="#{subscr.username}")
                                        else
                                            img.img-responsive.img-circle(src="/images/user-default.png")
                                    p
                                        a(href='/user/:#{subscr.id}') #{subscr.username}
                        else
                            div.col-xs-12.empty-block
                                p Подписок нету
            div.col-xs-2